<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health</title>
</head>
<body>
<h1> <a href="/">LOGO</a></h1>
<hr>
{% if request.resolver_match.url_name == 'home' %}
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>

        {% if user.is_dietitian %}
            {% if user.is_approved_dietitian %}
                <p>Your profile is approved.</p>
            {% else %}
                <p>Your profile is pending approval.</p>
            {% endif %}

            <form action="{% url 'edit_profile' %}"><input value="Edit" type="submit"></form>
        {% endif %}
    {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Login</a></p>
        <p><a href="{% url 'register_dietitian' %}">Register as a Dietitian</a></p>
    {% endif %}
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>